<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="{{#if isProducts}}wider{{/if}}">
    <nav class="top-nav">
        <a href="/products" class="nav-link">Productos</a>
        <div id="authButtons">
            {{#if isAuthenticated}}
                <a href="/users/current" class="nav-link">Mi Perfil</a>
                <a href="/users/logout" class="nav-link logout">Cerrar Sesión</a>
            {{else}}
                <a href="/users/register" class="nav-link">Registro</a>
                <a href="/users/login" class="nav-link">Iniciar Sesión</a>
            {{/if}}
        </div>
    </nav>
    
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
